/* ===== Custom Gradient Utilities ===== */
@utility content-empty {
  content: "";
}

@utility grid-rows-0fr {
  grid-template-rows: 0fr;
}

@utility grid-rows-1fr {
  grid-template-rows: 1fr;
}

@utility gradient-onyx {
  background: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
}

@utility gradient-jet {
  background:
    linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
}

@utility gradient-yellow-1 {
  background: linear-gradient(
    to bottom right,
    hsl(45, 100%, 71%) 0%,
    hsla(36, 100%, 69%, 0) 50%
  );
}

@utility gradient-yellow-2 {
  background:
    linear-gradient(
      135deg,
      hsla(45, 100%, 71%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%
    ),
    hsl(240, 2%, 13%);
}

@utility gradient-border-onyx {
  background: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
}

@utility gradient-text-yellow {
  background: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
}

@utility text-gradient-yellow {
  background: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
